* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0b2434;
    padding: 20px;
}

main {
    position: relative;
    background-color: #f5f5f5;
    height: fit-content;
    max-width: 500px;
    margin: 20px auto;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title {
    font-size: 40px;
    margin: 0;
    margin-bottom: 10px;
}

.instructions {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
}

.dice-container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.die-face {
    padding: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    cursor: pointer;
}

.die-face > span {
    align-self: center;
    justify-self: center;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

.die-face > span:nth-child(2) {
    grid-row: span 3;
}

.roll-dice {
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 6px;
    background-color: #5035ff;
    color: white;
    font-size: 1.2rem;
    font-family: "Karla", sans-serif;
    cursor: pointer;
}

.roll-dice:focus {
    outline: none;
}

.roll-dice:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.timer {
    display: flex;
    gap: 0.3em;
    font-size: 20px;
    font-family: "Mochiy Pop P One", sans-serif;
    justify-content: center;
}

.digits {
    display: flex;
    justify-content: center;
    width: 2ch;
}

.best-time {
    display: flex;
    align-items: flex-end;
    gap: 0.2em;
    position: absolute;
    right: 5px;
    bottom: 3px;
}

.best-time > p {
    margin-bottom: 1px;
}
